.problem-assump{
    background-color: blanchedalmond;
}
.affinity img{
    transition: transform .5s ease;
}
.affinity img:hover{
    transform: scale(1.1);
}
.exploration-layout{
    margin-top: 200px;
}
.ideate-section{
    background-color:moccasin;
}
.validate-section{
    background-color: blanchedalmond;
}